asgiref==3.12.1
ast_serialize==0.12.1
Django==6.1.2
django-pgtrigger==4.17.0
django-stubs==6.1.2
django-stubs-ext==6.1.2
librt==0.16.0
mypy==2.3.1
mypy_extensions==1.1.0
pathspec==1.1.1
sqlparse==0.6.0
types-PyYAML==6.0.12.20260906
typing_extensions==4.16.0
tzdata==2026.5
